@inject NavigationManager NavigationManager;


<CascadingValue Value="this" IsFixed="true">
    <header class="bg-primary-dark shadow-lg">
        <div class="px-2 md:px-6">
            <div class="flex justify-between">
                <div class="relative flex items-center justify-between h-16">
                    <MobileMenu IsOpen="IsMobileMenuOpen" ToggleMenu="ToggleMobileMenu" />
                </div>
                <div>
                    @BrandingFragment
                </div>
                <div class="flex-shrink-0 flex items-center p-4">
                    @MobileBranding
                </div>
                <div class="flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    @NavigationFragment
                </div>
            </div>
        </div>
        <div class="@(!IsMobileMenuOpen ? "block" : "hidden") md:hidden sm:max-w-md">
            @MobileNavigation
        </div>
    </header>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? BrandingFragment { get; set; }

    [Parameter]
    public RenderFragment? NavigationFragment { get; set; }

    [Parameter]
    public RenderFragment? MobileBranding { get; set; }

    [Parameter]
    public RenderFragment? MobileNavigation { get; set; }

    [Parameter]
    public NavbarColors Color { get; set; } = NavbarColors.Primary;

    private string ColorClass
    {
        get
        {
            return "";
        }
    }

    [Parameter]
    public string CssClass { get; set; } = "";

    private bool IsMobileMenuOpen { get; set; } = false;

    public void ToggleMobileMenu()
    {
        IsMobileMenuOpen = !IsMobileMenuOpen;
    }
}