@inject NavigationManager NavigationManager;


<CascadingValue Value="this" IsFixed="true">
    <header class="@TopLevelCssClass">
        <div class="flex justify-between px-2 md:px-6">
            <div class="md:hidden relative flex items-center justify-between">
                @if (HasMobileMenu)
                {
                    <MobileMenu IsOpen="IsMobileMenuOpen" ToggleMenu="ToggleMobileMenu" />
                }
            </div>
            <div class="md:hidden flex-shrink-0 flex items-center p-4">
                @MobileBrandingFragment
            </div>
            <div class="md:hidden flex-shrink-0 flex items-center p-4"></div>
            <div class="hidden md:flex md:items-center">
                @BrandingFragment
            </div>
            <div class="pr-2 hidden md:flex md:items-center md:ml-6">
                @NavigationFragment
            </div>
        </div>
    </header>
    <div class="@(!IsMobileMenuOpen ? "block" : "hidden") md:hidden sm:max-w-md @MobileMenuColorCss">
        @MobileNavigationFragment
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? BrandingFragment { get; set; }

    [Parameter]
    public RenderFragment? NavigationFragment { get; set; }

    [Parameter]
    public RenderFragment? MobileBrandingFragment { get; set; }

    [Parameter]
    public RenderFragment? MobileNavigationFragment { get; set; }

    [Parameter]
    public NavbarColors Color { get; set; } = NavbarColors.Primary;

    [Parameter]
    public EventCallback OnMobileMenuClick { get; set; }

    [Parameter]
    public bool HasMobileMenu { get; set; } = true;

    private string MobileMenuColorCss
    {
        get
        {
            var mobileColor = "";

            switch (Color)
            {
                case NavbarColors.Primary:
                    mobileColor = $"bg-primary-dark";
                    break;
                case NavbarColors.PrimaryDark:
                case NavbarColors.PrimaryLight:
                    mobileColor = "bg-primary";
                    break;
                case NavbarColors.Secondary:
                    mobileColor = "bg-secondary-dark";
                    break;
                case NavbarColors.SecondaryDark:
                case NavbarColors.SecondaryLight:
                    mobileColor = "bg-secondary";
                    break;
            }

            return mobileColor;
        }
    }

    private string TopLevelCssClass
    {
        get
        {
            var baseClass = "shadow-lg h-20 md:pt-4";
            var colorClass = "";

            switch(Color)
            {
                case NavbarColors.Primary:
                    colorClass = $"bg-primary";
                    break;
                case NavbarColors.PrimaryDark:
                    colorClass = "bg-primary-dark";
                    break;
                case NavbarColors.PrimaryLight:
                    colorClass = "bg-primary-light";
                    break;
                case NavbarColors.Secondary:
                    colorClass = "bg-secondary";
                    break;
                case NavbarColors.SecondaryDark:
                    colorClass = "bg-secondary-dark";
                    break;
                case NavbarColors.SecondaryLight:
                    colorClass = "bg-primary-light";
                    break;
            }

            return $"{colorClass} {baseClass}";
        }
    }

    private bool IsMobileMenuOpen { get; set; } = false;

    private async Task ToggleMobileMenu()
    {
        IsMobileMenuOpen = !IsMobileMenuOpen;
        if(OnMobileMenuClick.HasDelegate)
        {
            await OnMobileMenuClick.InvokeAsync();
        }
    }
}