@inherits NavigationParentBase

<CascadingValue Value="this" IsFixed="true">
    <div class="@TopLevelCssClass">
        <nav>
            @BrandingFragment

            @NavigationFragment
        </nav>
    </div>
</CascadingValue>

@code {

    [Parameter]
    public RenderFragment? BrandingFragment { get; set; }

    [Parameter]
    public RenderFragment? NavigationFragment { get; set; }

    private string TopLevelCssClass
    {
        get
        {
            var baseClass = "hidden md:block";

            return $"{ColorSelector.GetBackgroundColor(Color)} {baseClass} {CssClass}";
        }
    }
}
