@page "/"
@page "/Welcome"
@layout LandingLayout


@using WindyUI.Typography;

<div class="my-12">
    <img src="/img/logos/Isologotipo.svg" class="m-auto w-52" />
</div>

<Paragraph BodyType="BodyTypes.Body1" Weight="BodyWeight.Regular">
    Windy UI is a pet project by Carlos Jimenez (Tech Gems link). It's purpose is to provide an example of how to work with Tailwind CSS on Blazor and provide sample components inspired in Tailwind UI.
    This is not meant to be a fully fledged component library, but rather, a starter for anyone to change and build their own custom Tailwind powered component library.
</Paragraph>

<Paragraph BodyType="BodyTypes.Body1" Weight="BodyWeight.Regular">
    If you're intested in this project you can download it here (github link) and you can choose to buy me Coffee(link to Ko-fi) if you'd like.
    When you fork this repo, feel free to use this sample Blazor WASM app to display and test your components in isolation as you make changes to the logic and styles based on your needs.
</Paragraph>
