@using WindyUI.Base
@inherits ChildBase<ModalBase>

<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
