@inherits LayoutComponentBase
@using WindyUI.Navbar;

<main class="h-full">
    <Navbar>
        <MobileLogoSection>
            <img class="flex md:hidden h-10 w-auto" src="/img/logos/Isotipo-Invertido.svg" alt="Logo">
        </MobileLogoSection>
        <OptionsSection>
            <div class="hidden lg:block md:ml-6">
                <div class="flex lg:space-x-1 xl:space-x-4">
                    <NavbarLink Text="Welcome" Route="/Welcome" />
                    <NavbarLink Text="Typography" Route="/Typography" />
                    <NavbarLink Text="Buttons" Route="/Buttons" />
                    <NavbarLink Text="Table" Route="/Table" />
                    <NavbarLink Text="Icons" Route="/Icons" />
                    <NavbarLink Text="Forms" Route="/Forms" />
                    <NavbarLink Text="Modals" Route="/Modals" />
                    <NavbarLink Text="Notifications" Route="/Notifications" />
                </div>
            </div>
        </OptionsSection>
        <MobileOptionsSections>
            <div class="px-2 pt-2 pb-3 md:space-y-1">
                <NavbarMobileLink Text="Welcome" Route="/Welcome" />
                <NavbarMobileLink Text="Typography" Route="/Typography" />
                <NavbarMobileLink Text="Buttons" Route="/Buttons" />
                <NavbarMobileLink Text="Table" Route="/Table" />
                <NavbarMobileLink Text="Icons" Route="/Icons" />
                <NavbarMobileLink Text="Forms" Route="/Forms" />
                <NavbarMobileLink Text="Modals" Route="/Modals" />
                <NavbarMobileLink Text="Notifications" Route="/Notifications" />
            </div>
        </MobileOptionsSections>
    </Navbar>
    <!--Page content-->
    <div class="py-6 px-6">
        @Body
    </div>

</main>


