@inherits LayoutComponentBase
@using WindyUI.Navigation;

<main class="h-full">
    <Navbar>
        <MobileBrandingFragment>
            <img class="flex md:hidden h-10 w-auto" src="/img/logos/Isotipo-Invertido.svg" alt="Logo">
        </MobileBrandingFragment>
        <MobileNavigationFragment>
            <div class="px-2 pt-2 pb-3">
                <NavbarMobileLink Text="Documentation" Route="/Welcome" />
                <NavbarMobileLink Text="Github" Route="/Welcome" />
            </div>
        </MobileNavigationFragment>
        <BrandingFragment>
            <img class="h-10 w-auto" src="/img/logos/Isologotipo-Invertido.svg" alt="Logo">
        </BrandingFragment>
        <NavigationFragment>
            <div class="flex lg:space-x-1 xl:space-x-4">
                <NavbarLink CssClass="w-12" Route="/Welcome">
                    <img src="/img/icons/github-brands.svg" />
                </NavbarLink>
                <a class="text-primary-text w-12" href="https://ko-fi.com/techgems" target="_blank">
                    <img src="/img/icons/donate-solid.svg" />
                </a>
            </div>
        </NavigationFragment>
    </Navbar>
    <!--Page content-->
    <div class="py-6 px-6 mx-24">
        @Body
    </div>
</main>


