@inherits LayoutComponentBase
@using WindyUI.Navbar;

<div class="grid md:grid-cols-5 h-full">
    <!--Sidebar-->
    <Sidebar>
        <LogoSection>
            <div class="p-4 bg-white mr-1">
                <img class="hidden lg:block h-16 w-auto ml-4" src="/img/logos/Isologotipo.svg" alt="Logo">
            </div>
        </LogoSection>    
        <OptionsSection>
            <SidebarLink Text="Welcome" Route="/Welcome" />
            <SidebarLink Text="Typography" Route="/Typography" />
            <SidebarLink Text="Buttons" Route="/Buttons" />
            <SidebarLink Text="Table" Route="/Table" />
            <SidebarLink Text="Icons" Route="/Icons" />
            <SidebarLink Text="Forms" Route="/Forms" />
            <SidebarLink Text="Modals" Route="/Modals" />
            <SidebarLink Text="Notifications" Route="/Notifications" />
        </OptionsSection>
    </Sidebar>
    <main class="md:col-start-2 md:col-span-4">
        <!--Header-->
        <Navbar>
            <MobileLogoSection>
                <img class="flex md:hidden h-10 w-auto" src="/img/logos/Isotipo.svg" alt="Logo">
            </MobileLogoSection>
            <RightHandSection>
                <ProfileMenu />
            </RightHandSection>
            <OptionsSection>
                <NavbarLink Text="Welcome" Route="/Welcome" />
                <NavbarLink Text="Typography" Route="/Typography" />
                <NavbarLink Text="Buttons" Route="/Buttons" />
                <NavbarLink Text="Table" Route="/Table" />
                <NavbarLink Text="Icons" Route="/Icons" />
                <NavbarLink Text="Forms" Route="/Forms" />
                <NavbarLink Text="Modals" Route="/Modals" />
                <NavbarLink Text="Notifications" Route="/Notifications" />
            </OptionsSection>
            <MobileOptionsSections>
                <NavbarMobileLink Text="Welcome" Route="/Welcome" />
                <NavbarMobileLink Text="Typography" Route="/Typography" />
                <NavbarMobileLink Text="Buttons" Route="/Buttons" />
                <NavbarMobileLink Text="Table" Route="/Table" />
                <NavbarMobileLink Text="Icons" Route="/Icons" />
                <NavbarMobileLink Text="Forms" Route="/Forms" />
                <NavbarMobileLink Text="Modals" Route="/Modals" />
                <NavbarMobileLink Text="Notifications" Route="/Notifications" />
            </MobileOptionsSections>
        </Navbar>
        <!--Page content-->
        <div class="py-6 px-6">
            @Body
        </div>
    </main>

</div>


